

body {
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 70%;
  margin: 0 auto;
}
header {
  background-image: url(https://i.pinimg.com/originals/88/f7/ee/88f7ee3cbadf73d748b783eb24cf85e8.jpg);
  height: 300px;
}
/*nav {
  background: rgb(181, 225, 239);
  height: 100px;
}*/
.navbar {
  width: 100%;
  background-color: rgb(108, 103, 103);
  overflow: auto;
}
.navbar a {
  float: left;
  padding: 19px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.navbar a:hover {
  background-color: rgb(55, 53, 53);
}
.active {
  background-color: #31765D;
}
main {
  display: flex;
}
.col-1 {
  background: rgb(188, 184, 186);
  width: 30%;
  padding: 30px;
}
.col-2 {
  background: rgb(171, 227, 241);
  width: 70%;
  padding: 30px;
}
h2  {
  font-family: 'Roboto Condensed', sans-serif;
}
p{
  font-weight: 400;
  font-size :medium;
  line-height: 2.0em;
  letter-spacing: normal;
}
footer {
  background: rgba(196, 218, 194, 0.554);
  height: 100px;
}